MERGENCY_GITHUB_APP_ID=
MERGENCY_GITHUB_PRIVATE_KEY=
MERGENCY_GITHUB_WEBHOOK_SECRET=
MERGENCY_DATABASE_URL=postgresql+asyncpg://mergency:mergency@postgres:5432/mergency
MERGENCY_GIPHY_API_KEY=
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=
